
<!-- Header -->
  <header id="header" class="alt">
    <div class="logo"><a href="index.html">Based on the template <span>Hielo</span></a></div>
    <a href="#menu">Menu</a>
  </header>

<!-- Nav -->
  <nav id="menu">
    <ul class="links">
      <li><a href="index.html">Home</a></li>
    </ul>
  </nav>

<!-- Banner -->
  <section class="banner full">
    <article>
      <wave style="position: absolute; left: 0; right: 0; height: 100%; width: 100%"></wave>
      <div class="inner">
        <header>
          <p>Speak and I'll tell how much you valued your team!</p>
          <h2>P<sub>Playground for </sub>U<sub>unification of </sub>G<sub>groups</sub></h2>
        </header>
      </div>
    </article>
  </section><!--The content below is only a placeholder and can be replaced.-->

  <section id="two" class="wrapper style2" style="box-shadow: 0 0 10px 10px #ffdd923d inset">
    <div class="inner">
      <header class="align-center">
        <p class="special">Participation</p>
        <h2>Who's talking ?</h2>
      </header>
      <p class="align-center">
          Data computed start: {{startDate}}
        <br/>
          Data computation time ellapsed: {{timeComputed}}
          <br/>
          {{iWantToShowSomething}}
          <input [(ngModel)]="value" />
          <button *ngIf="!isSocketOpen" (click)="openConnection()">Start</button>
          <button *ngIf="isSocketOpen" (click)="closeConnection()">Stop</button>
      </p>
      <!--button (click)="myFunction()">Press & Talk</button-->

	  <!-- <audio id="speaker" controls></audio> not needed, hence remove -->
	  <button (click)="toggleRecording()" [class.changed]="recording">Press & Talk</button>

      <div class="grid-style">
        <div>
          <div class="box">
            <div class="content">
              <header class="align-center">
                <p>
                  Time speaking
                </p>
              </header>
              <div style="text-align: center;">
                <canvas style="width:300px" baseChart width="400" height="400"
                  [datasets]="vocalsDatas"
                  [labels]="vocalSpeakers"
                  [legend]="vocalLegend"
                  [chartType]="'polarArea'"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="box">
            <div class="content">
              <header class="align-center">
                <p>Speak up</p>
              </header>
              <div style="text-align: right; width: 100%; margin: auto;">
                <canvas style="width: 300px" baseChart width="400" height="400"
                  [datasets]="speakUpDatas"
                  [labels]="vocalSpeakers"
                  [legend]="false"
                  [chartType]="'bar'"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

<!-- Three -->
  <section id="three" class="wrapper style2">
    <div class="inner">
      <header class="align-center">
        <p class="special">Get a look on your team !</p>
        <h2>Team members</h2>
      </header>
      <div class="gallery">
        <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/arafa_mahmood.jpg" alt="" /></a>
          </div>
        </div>
        <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/brandon_startz.jpeg" alt="" /></a>
          </div>
        </div>
        <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/antoine_pincon.jpg" alt="" /></a>
          </div>
        </div>
        <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/johnny_guye.jpg" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Footer -->
  <footer id="footer">
    <div class="container">
      <ul class="icons">
        <li><a href="https://github.com/JohnnyGuye/pugs-project" class="icon fa-github"><span class="label">Github</span></a></li>
      </ul>
    </div>
    <div class="copyright">
      &copy; Untitled. All rights reserved.
    </div>
  </footer>
